Anthony Newnam <anthony.newnam@garmin.com>    Anthony <anthony@bnovc.com>
Hu Xiuyun <xiuyun.hu@hisilicon.com>           Hu xiuyun <xiuyun.hu@hisilicon.com>
Hu Xiuyun <xiuyun.hu@hisilicon.com>           Hu Xiuyun <clouds08@qq.com>
Jelly Chen <chenguodong@huawei.com>           chenguodong <chenguodong@huawei.com>
Jia Bi <bijia@xiaomi.com>                     bijia <bijia@xiaomi.com>
JoonCheol Park <jooncheol@gmail.com>          Jooncheol Park <jooncheol@gmail.com>
Sergii Pylypenko <x.pelya.x@gmail.com>        pelya <x.pelya.x@gmail.com>
Shawn Pearce <sop@google.com>                 Shawn O. Pearce <sop@google.com>
Ulrik Sjölin <ulrik.sjolin@sonyericsson.com>  Ulrik Sjolin <ulrik.sjolin@gmail.com>
Ulrik Sjölin <ulrik.sjolin@sonyericsson.com>  Ulrik Sjolin <ulrik.sjolin@sonyericsson.com>
Ulrik Sjölin <ulrik.sjolin@sonyericsson.com>  Ulrik Sjölin <ulrik.sjolin@sonyericsson.com>
